.posts {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  transition: backgroud-color 0.4s ease-in-out;
}
.post {
  background-color: #fff;
  padding: 20px;
  border-radius: 7%;
}
/* traikome nuo 0 iki 714 */

@media screen and (max-width: 714px) {
  .posts {
    background-color: coral;
    grid-template-columns: 1fr 1fr;
  }
  .post:last-child {
    grid-column: span 2;
  }
}
@media screen and (max-width: 450px) {
  .posts {
    background-color: darkorchid;
    grid-template-columns: 1fr;
  }
  .post:last-child {
    grid-column: span 1;
  }
  .container {
    padding: 0 5px;
  }
}
